:root{
    --bleu: #2091eb;
    --blanc:  #ffffff;
    --blancSecondary: #f5f6fa;
    --gris :  rgb(81, 76, 76);
    --shadow : #bdc9e1;
}
@font-face {
    font-family: poppin;
    src: url(../font/Poppins-Black.ttf);
}
*{
    font-family: poppin;
    text-decoration: none;
    list-style: none;
    
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: hsl(0, 0%, 90%);
    margin: 0;
}
ul{
    margin-bottom: 30px;
}
li{
    margin: 5px; 
}
i{
    
}
label{
    padding: 0 10px;
    margin-bottom: 5px;
}
input{
    height: 50px;
    border: none;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding: 0 10px;
}
.head h6{
    margin: 0;
    margin-bottom: 50px;
    font-size: 18px;
}
.head h2{
    position: absolute;
    right: 0;
    color: gray;
    opacity:0.2;  
    margin-top: 20px;
}
.container-item2 .head h2{
    color: var(--blanc);
}
.head{
    position: relative;
    display: flex;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;    
}
.container-item1,.container-item2{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    */
    position: relative; 
    width: 400px;
    border-radius: 30px;
    box-shadow: 0 20px 30px 0 var(--shadow);
    margin: 10px; 
    padding: 20px;
}
.container-item1{
    color: rgb(81, 76, 76);
    background: var(--blanc);
    
}
.container-item2{
    color: var(--blanc);
    background: var(--bleu);
}

.admin{
    color: var(--bleu);
}


.container-item1 ul i{
    width: 20px;
    text-align: center;
    border: solid 2px var(--gris);
    padding: 2px;
    margin-right: 10px;
}

.container-item2 ul i{
    width: 20px;
    text-align: center;
    border: solid 2px var(--blanc);
    padding: 2px;
    margin-right: 10px;
}
label i{
    width: 20px;
    text-align: center;
    padding: 2px;
    margin-right: 10px;
}
.container-item1 input{
    background:var(--blancSecondary);
}
.container-item2 a{
    color: var(--blanc);
}
.container-item1 a{
    color: var(--gris);
}

form{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form{
    width: 240px;
    display:flex;
    flex-direction: column;
}

.btn{
    width: 160px;
    margin-bottom: 25px;
    cursor: pointer;
}
.container-item1 .btn{
    color: var(--blanc);
    background: var(--bleu);
}
.container-item2 .btn{
    color: var(--bleu);
    background: var(--blanc);
}
.foot{
    position: relative;
    margin-bottom: 25px;
}
.foot .forgot-password{
    position: absolute;
    left: 0;

}
.foot .not-signed-up{
    position: absolute;
    right: 0;
}

.message{
    width: 80%;
    height: 100px;
    /* background: #000; */
    background: var(--blanc);
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}