:root{
    --bleu: #2091eb;
    --blanc:  #ffffff;
    --shadow : #bdc9e1;
}
body{
    width: 100%;
    height: 100vh;
    margin: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.container-item1{
    width: 40%;
    height: 80%;
    color: rgb(81, 76, 76);
    background: var(--blanc);
    border:solid 1px rgb(81, 76, 76);
    margin: 10px; 
}
.container-item2{
    width: 40%;
    height: 80%;
    color: var(--blanc);
    background: var(--bleu);
    border:solid 1px black;
    margin: 10px;   
}